@import url(variable.css);

.last__actuality_title {
    font-family: var(--font-primary);
    font-size: large;
    padding: 5px 8%;
}

form {
    height: 0;
    width: 100%;
    transition: all .5s ease-in-out;
    position: relative;
}

.logo-plus {
    cursor: pointer;
    transition: all .5s ease-in-out;
}

form input[type=button] {
    cursor: pointer;
    transition-delay: 1s;
    transition: all .5s ease-in-out;
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 25px 25px 50px 10px;
}

    


form textarea {
    width: 100%;
    min-height: 50px;
    padding: 0 5px;
}

/* .section-new {
    display: flex;
    flex-direction: column;
} */



.actuality {
    background-color: #FFF;
    border: 2px solid var(--gray-dark);
    min-height: 130px;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: var(--box-shadow-publication);
    overflow: hidden;
    position: relative;
}

.actuality aside.publish-by {
    display: flex;
    height: 35px;
    width: 100%;
}

.div-comment {
    width: 100%;
    min-height: 20px;
}

.button-up-comment {
    border: unset;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
}
.button-up-comment img {
    height: 20px;
    width: 20px;
}

.actuality aside.publish-by figure.small-round {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px 5px;
    border: unset;
}

.actuality aside.publish-by figure.small-round img.really-small-round {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.actuality aside.publish-by p.author {
    font-size: unset;
    text-decoration: underline;
    position: absolute;
    top: 5px;
    text-align: center;
    left: 0;
    right: 0;
}

.actuality div.picture-text {
    width: 100%;
    min-height: 90px;
}

.actuality div.picture-text p.text {
    width: 90%;
    margin: 0 auto;
}

.actuality div.picture-text figure.picture .imgBigg {
    width: 100%;
}

.actuality div.dislike-like {
    width: 100%;
    display: inline-flex;
}

.actuality div.dislike-like button.dis-like,
.actuality div.dislike-like button.li-ke {
    position: relative;
    width: 50%;
    height: 35px;
    margin: -4px auto;
    border: none;
}

.actuality div.dislike-like .dis-like {
    background-color: var(--pink-light);
    cursor: pointer;
}

.actuality div.dislike-like .li-ke {
    background-color: var(--green-light);
    cursor: pointer;
}

.actuality div.dislike-like .dis-like span.counter,
.actuality div.dislike-like .li-ke span.counter {
    position: absolute;
    font-size: larger;
    top: 10px;
}

.actuality div.dislike-like .dis-like span.counter {
    left: 20px;
}

.actuality div.dislike-like .li-ke span.counter {
    right: 20px;
}

.search-bar {
    height: 30px;
    min-width: 70%;
    border-radius: 25px;
    border: 2px solid var(--gray-dark);
    box-shadow: var(--box-shadow-publication);
    padding: 0 7px;
}


@media screen and (min-width:764px) {

    .section-new {
        width: 80%;
        margin: 0 auto;
    }

    .actuality aside.publish-by figure.small-round {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 5px 5px;
        border: unset;
    }
    
    .actuality aside.publish-by figure.small-round img.really-small-round {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .actuality aside.publish-by p.author {
        font-size: larger;
    }

    .actuality div.picture-text p.text {
        padding: 10px 30px;
    }

    .actuality aside.publish-by p.author {
        top: 10px;
    }
}


@media screen and (min-width:1024px) {

    .section-new {
        height: 90vh;
        width: 100%;
        overflow-y: scroll;
    }

    .section-new::-webkit-scrollbar {
        width: 5px; /* width of the entire scrollbar */
        background-color: transparent;
      }
      
      .section-new::-webkit-scrollbar-track {
        /* background: var(--gray-dark); /* color of the tracking area */
        /*border-radius: 20px; */
        background-color: transparent;
      }
      
      .section-new::-webkit-scrollbar-thumb {
        /*border-radius: 20px; /* roundness of the scroll thumb */
        /*border: 3px solid var(--green-light); creates padding around scroll thumb*/
        background-color: transparent;
      }
   
    .last__actuality_title {
        font-size: revert;
    }

    .actuality aside.publish-by figure.small-round {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 5px 5px;
        border: unset;
    }
    
    .actuality aside.publish-by figure.small-round img.really-small-round {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .actuality aside.publish-by p.author {
        font-size: larger;
    }

    .actuality div.picture-text p.text {
        padding: 10px 30px;
    }

    .actuality aside.publish-by p.author {
        top: 10px;
    }
}