@import url(variable.css);

.actuality {
    background-color: #FFF;
    border: 2px solid var(--gray-dark);
    min-height: 130px;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: var(--box-shadow-publication);
    overflow: hidden;
    position: relative;
}

.actuality aside.publish-by {
    display: flex;
    height: 35px;
    width: 100%;
}

.actuality aside.publish-by figure.small-round {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px 5px;
    border: unset;
}

.actuality aside.publish-by figure.small-round img.really-small-round {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.actuality aside.publish-by p.author {
    font-size: unset;
    text-decoration: underline;
    position: absolute;
    top: 5px;
    text-align: center;
    left: 0;
    right: 0;
}

.actuality div.picture-text {
    width: 100%;
    min-height: 90px;
}

.actuality div.picture-text p.text {
    width: 90%;
    margin: 0 auto;
}

.actuality div.picture-text figure.picture .imgBigg {
    width: 100%;
}

.actuality div.dislike-like {
    width: 100%;
    display: inline-flex;
}

.actuality div.dislike-like button.dis-like,
.actuality div.dislike-like button.li-ke {
    position: relative;
    width: 50%;
    height: 35px;
    margin: -4px auto;
    border: none;
}

.actuality div.dislike-like .dis-like {
    background-color: var(--pink-light);
}

.actuality div.dislike-like .li-ke {
    background-color: var(--green-light);
}

.actuality div.dislike-like .dis-like span.counter,
.actuality div.dislike-like .li-ke span.counter {
    position: absolute;
    font-size: larger;
    top: 10px;
}

.actuality div.dislike-like .dis-like span.counter {
    left: 20px;
}

.actuality div.dislike-like .li-ke span.counter {
    right: 20px;
}

.search-bar {
    height: 30px;
    min-width: 70%;
    border-radius: 25px;
    border: 2px solid var(--gray-dark);
    box-shadow: var(--box-shadow-publication);
    padding: 0 7px;
}

@media screen and (min-width:764px) {
    nav .nav__title__wild_face {
        font-family: var(--font-title);
        font-weight: 100;
        font-size: 25px;
    }

    .actuality aside.publish-by figure.small-round {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 5px 5px;
        border: unset;
    }
    
    .actuality aside.publish-by figure.small-round img.really-small-round {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .actuality aside.publish-by p.author {
        font-size: larger;
    }

    .actuality div.picture-text p.text {
        padding: 10px 30px;
    }

    .actuality aside.publish-by p.author {
        top: 10px;
    }
}


@media screen and (min-width:1024px) {
   
    .actuality aside.publish-by figure.small-round {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 5px 5px;
        border: unset;
    }
    
    .actuality aside.publish-by figure.small-round img.really-small-round {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .actuality aside.publish-by p.author {
        font-size: larger;
    }

    .actuality div.picture-text p.text {
        padding: 10px 30px;
    }

    .actuality aside.publish-by p.author {
        top: 10px;
    }
}