@import url("variable.css");

* {   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: Ultraregular;
    src: url("font/Ultra-Regular.ttf");
}
@font-face {
    font-family: SourceSansPro-ExtraLight;
    src: url("font/SourceSansPro-Regular.ttf");
}

body {
    font-family: SourceSansPro-ExtraLight;
    background-color: var(--background-white);
    height: 100vh;
}

nav button {
    
    margin-left: 3%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 3%;
    background-color: var(--background-color);
}

nav button .material-symbols-rounded {
    padding: 6% 0% 1% 25%;
    
}

main header h1 {
    font-size: 189%;
    font-family: Ultraregular;
    font-weight: 100;
    color: var(--gray-dark);
    padding-top: 5%;
    text-align: center;
}

main header h2 {
    text-align: center;
    font-family: SourceSansPro;
    font-size: 125%;
    font-weight: bold;
    color: var(--gray-dark);
    padding: 7%;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 5% 0;
}


main form  {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4%;
    gap: 5px;
}

main form input[type=text], main form input[type=email] {
    border-radius: 20px; 
    box-shadow: var(--box-shadow-publication);
    width: 60%;
    text-align: center;
    border-color: transparent;
    margin: 0 auto;
}
main form input[type=email] {
    margin: 0 auto 5px auto;
}

main form label:nth-child(1), main form label:nth-child(3) {
    padding: 2% 0 1% 0;
    margin: 0 20%;

}

main form textarea {
    border-radius: 4px; 
    box-shadow: var(--box-shadow-publication);
    width: 100%;
    height: 17vh;
    margin: 0 auto 5px auto;
}

.message {
    /* margin: 0 5%; */
    align-self: flex-start;

}



main form input[type=submit]{
    border-radius: 4px;
    width: 55px;
    align-self: flex-end;
}






