@media screen and (max-width: 1023px) {
  .event-widget,
  .profil-widget,
  .suggest-widget {
    display: none;
    opacity: 0;
  }
}

/* MEDIA QUERIES - MOBILE - TABLETT*/

/* MEDIA QUERIES - Desktop */

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr 200px 500px 200px 1fr;
    grid-template-rows: 65px 275px 350px 1fr;
    gap: 15px;
  }

  nav .logo.svg {
  }

  input .search-bar {
    max-width: 600px;
    height: 690px;
    overflow-y: scroll;
  }

  main {
    margin: 0px;
    padding: 0px;
    height: auto;
    grid-auto-rows: auto;
    gap: 15px;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  .search-main {
    height: 690px;
  }

  .search-bar {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .search-main h1 {
    padding: 30px 6px 0px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .user-card-list {
    position: relative;
    display: flex;
    padding: 55px 5px 15px 2px;
    flex-flow: column nowrap;
    overflow-y: scroll;
    /* max-width: 400px; */
    grid-row: 3 / 6;
    grid-column: 2 / 3;
    height: 720px;
    mask-image: linear-gradient(
      180deg,
      transparent 5%,
      rgba(0, 0, 0, 1) 8%,
      rgba(0, 0, 0, 1) 100%,
      transparent 95%
    );
    -webkit-mask-image: linear-gradient(
      180deg,
      transparent 5%,
      rgba(0, 0, 0, 1) 8%,
      rgba(0, 0, 0, 1) 100%,
      transparent 95%
    );
    -moz-mask-image: linear-gradient(
      180deg,
      transparent 5%,
      rgba(0, 0, 0, 1) 8%,
      rgba(0, 0, 0, 1) 100%,
      transparent 95%
    );
  }

  /* .user-card-list::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 150px, white);
  } */

  .user-card-list::-webkit-scrollbar,
  .user-card-details-description::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
    background-color: transparent;
  }
  .user-card-list::-webkit-scrollbar-track,
  .user-card-details-description::-webkit-scrollbar {
    /* background: var(--gray-dark); /* color of the tracking area */
    /*border-radius: 20px; */
    background-color: transparent;
  }
  .user-card-list::-webkit-scrollbar-thumb,
  .user-card-details-description::-webkit-scrollbar {
    /*border-radius: 20px; /* roundness of the scroll thumb */
    /*border: 3px solid var(--green-light); creates padding around scroll thumb*/
    background-color: transparent;
  }
  .user-card-container {
    min-width: 300px;
    margin: 0px 6px;
  }

  .user-card-details-description {
    overflow-y: scroll;
    width: 250px;
  }

  /* WIDGETS FOR DESKTOP */
  .event-widget,
  .profil-widget,
  .suggest-widget {
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid var(--gray-dark);
    box-shadow: var(--box-shadow-publication);
  }

  body .profil-widget {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .profil-widget-image-container {
    width: 84px;
    height: 84px;
    border-radius: 50%;
  }

  .profil-widget-image {
    width: 84px;
    height: 84px;
    border-radius: 50%;
  }

  .profil-widget-text,
  .widget-event-text {
    font-size: 14px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }

  .widget-info {
    font-size: 14px;
  }

  .widget-title {
    font-weight: 700;
    padding: 10px 0px 5px 0px;
  }

  .widget-info {
    display: inline-block;
    height: auto;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: linear-gradient(90deg, #000000 70%, rgba(0, 0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  body .event-widget {
    display: flex;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .widget-event-text {
    align-items: start;
    padding: 20px;
  }

  .widget-event-block {
    display: flex;
    gap: 8px;
  }

  .widget-event-text .widget-title:nth-child(2) {
    padding-top: 10px;
  }

  .widget-event-block .material-symbols-rounded {
    color: #83b0b8;
  }

  body .suggest-widget {
    background-color: rgba(253, 192, 210, 0.7);
    display: flex;
    flex-flow: column wrap;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
  }

  .suggest-widget-text {
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }

  .suggest-widget-text-container {
    display: flex;
    align-items: center;
    width: 150px;
    padding: 4px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: linear-gradient(90deg, #000000 70%, rgba(0, 0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .suggest-widget .material-symbols-rounded {
    color: var(--blue-light);
    padding-right: 8px;
  }

  .widget-suggest-name {
  }

  /* ANIMATIONS */
  .user-card-container:hover {
    -webkit-animation: shadow-pop-br 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
      both;
    animation: shadow-pop-br 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2023-3-23 9:20:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation shadow-pop-br
 * ----------------------------------------
 */
  @-webkit-keyframes shadow-pop-br {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
        0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
        0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
        4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
        8px 8px #3e3e3e;
      box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
        4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
        8px 8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(-8px);
      transform: translateX(-8px) translateY(-8px);
    }
  }
  @keyframes shadow-pop-br {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
        0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
        0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
        4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
        8px 8px #3e3e3e;
      box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
        4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
        8px 8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(-8px);
      transform: translateX(-8px) translateY(-8px);
    }
  }
}
