@import url(variable.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
  font-family: Ultraregular;
  src: url("font/Ultra-Regular.ttf");
}

main { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
  background-color: #F4EEDC;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 45%;
  border: 4px solid #393C38;
  border-right-width: 9px;
  border-bottom-width: 9px;
  height: 100vh; 
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.vcpe {
  font-family: Ultraregular;
}
img {
  width: 125px;
  height: 125px;
  border: 2px solid black;
  border-radius: 100%;
}
.job {
  font-weight: lighter;
}

.age {
  background-color: blue;
}
.from {
  background-color: violet;
}

.about {
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  background-color: red;
}
.aPropos {
  font-family: Ultraregular;
}
