@import url(variable.css);

footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: var(--pink-light);
    text-align: center;
    font-size: 95%;
  }
  
  footer p {
    padding-top: 3px;
  }