@import url(variable.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--font-primary);
    text-decoration: none;
    color: var(--gray-dark);
}

/* @font-face {
    font-family: Ultraregular;
    src: url("font/Ultra-Regular.ttf");
}

@font-face {
    font-family: SourceSansPro-ExtraLight;
    src: url("font/SourceSansPro-Regular.ttf");
} */

    body {
        width: 100%;
        background-color: var(--background-white);
    }

    header nav {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5px;
    }

    header nav h1 {
        font-family: var(--font-title);
        font-weight: 100;
    }

    header nav ul.logo-svg {
        display: inline-flex;
    }

    header nav ul.logo-svg li svg {
        border-radius: 10px;
        margin: 0 8px;
    }

    header article.find-home {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
        align-items: flex-end;
    }

    .formulaire {
       all: unset;
    }
    
    header figure.round {
        height: 40px;
        width: 40px;
        border: 2px solid var(--gray-dark);
        border-radius: 50%;
        border: none;
    }

    header figure.round img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

    header a input {
        height: 30px;
        min-width: 70%;
        border-radius: 25px;
        border: 2px solid var(--gray-dark);
        box-shadow: var(--box-shadow-publication);
        padding: 0 7px;
    }

    header a input:focus {
        outline: none;
    }


    main.home-main {
        min-height: 70%;
    }

    main h2 {
        font-family: Ultraregular;
        font-size: smaller;
        padding: 10px;
    }

    main article.section-new {
        display: flex;
        flex-direction: column;
    }

    main article.section-new section.actuality {
        background-color: #FFF;
        border: 2px solid var(--gray-dark);
        min-height: 130px;
        width: 90%;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: var(--box-shadow-publication);
        overflow: hidden;
    }

    main article.section-new section.actuality aside.publish-by {
        display: flex;
        height: 35px;
        width: 100%;
    }

    main article.section-new section.actuality aside.publish-by figure.small-round {
        height: 20px;
        width: 20px;
        border: 2px solid var(--gray-dark);
        border-radius: 50%;
        margin: 5px 5px;
        border: unset;
    }

    main article.section-new section.actuality aside.publish-by figure.small-round img.really-small-round {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    main article.section-new section.actuality aside.publish-by p.author {
        align-self: center;
        margin-left: 5px;
    }

    main article.section-new section.actuality div.picture-text {
        width: 100%;
        min-height: 90px;
    }

    main article.section-new section.actuality div.picture-text p.text {
        width: 90%;
        margin: 0 auto;
    }

    main article.section-new section.actuality div.picture-text figure.picture .imgBigg {
        width: 100%;
    }

    main article.section-new section.actuality div.dislike-like {
        width: 100%;
        display: inline-flex;
    }

    main article.section-new section.actuality div.dislike-like button.dis-like, 
    main article.section-new section.actuality div.dislike-like button.li-ke {
        position: relative;
        width: 50%;
        height: 35px;
        margin: -4px auto;
        border: none;
    }

    main article.section-new section.actuality div.dislike-like .dis-like {
        background-color: var(--pink-light);
    }

    main article.section-new section.actuality div.dislike-like .li-ke {
        background-color: var(--green-light);
    }

    main article.section-new section.actuality div.dislike-like .dis-like span.counter, 
    main article.section-new section.actuality div.dislike-like .li-ke span.counter {
        position: absolute;
        font-size: larger;
        top: 10px;
    }

    main article.section-new section.actuality div.dislike-like .dis-like span.counter {
        left: 20px;
    }

    main article.section-new section.actuality div.dislike-like .li-ke span.counter {
        right: 20px;
    }
 
    article.find-home a.dynamic {
        display: flex;
        gap: 10px;
    }
    
   