@import url(variable.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--font-primary);
    text-decoration: none;
    color: var(--gray-dark);
} 


nav {
    border-bottom: 1px solid var(--gray-dark);
    border-radius: 0 0 24px 20px;
    background-color: white;
    z-index: 10;
    position: sticky;
    top: 0;
    min-height: 50px;
    width: 100%;
    padding: 5px 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    /* border: 1px solid var(--gray-dark);
    box-shadow: var(--box-shadow-publication);
    border-radius: 0 0 10px 10px;
    border-bottom-color: transparent; */
}

nav .nav__title__wild_face {
    font-family: var(--font-title);
    font-weight: 100;
}

nav ul.logo-svg {
    display: inline-flex;
}

nav ul.logo-svg li svg {
    border-radius: 10px;
    margin: 0 8px;
}

/* nav .input__type_search_nav {
    height: 30px;
    width: 80%;
    margin: 10px auto;
    border-radius: 25px;
    border: 2px solid var(--gray-dark);
    box-shadow: var(--box-shadow-publication);
    padding: 0 7px;
} */

@media screen and (min-width:768px) {
    nav {
        width: 80%;
        margin: 0 auto;    
        height: 20px;
        padding: 5px 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px 60px;
    }

    nav h1 {
        font-size: larger;
    }
    /* nav .nav__title__wild_face {
        grid-column: 1/1;
        grid-row: 1/1;
    } */

    nav ul.logo-svg {
        grid-column: 5/6;
        grid-row: 1/1;
        display: flex;
        justify-content: flex-end;
    }

    /* nav .input__type_search_nav {
        grid-column: 2/5;
        grid-row: 2/3;
    } */

    
}


    
    


@media screen and (min-width:1024px) {
    nav {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 2 / 5;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50px 10px 60px;       
        font-size: larger;
    }

    nav ul.logo-svg li svg {
        grid-column: 5/6;
        grid-row: 1/1;
    }

    /* nav .input__type_search_nav {
        height: 40px;
        grid-column: 2/5;
        grid-row: 3/4;
    } */

    
}