@import url(variable.css);

* {
  box-sizing: border-box;
  color: var(--gray-dark);
}

body {
  background-color: var(--background-white);
}

main {
  margin: 85px 10px;
  text-align: justify;
}
/* header nav {
  display: grid;
  grid-template-columns: 50px 100px;
  margin-left: 3%;
} */

/* header nav button .material-symbols-rounded {
  padding: 4px 0 1px 6px;
} */

header nav button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-top: 33%;
  background-color: var(--background-color);
}

main .carreer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 75px;
}

main .carreer div {
  border-radius: 25px;
  border: 2px solid black;
  width: 130px;
  height: 45px;
  background-color: var(--background-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main .carreer div .material-symbols-rounded {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 3%;
}

main .carreer .yellow .material-symbols-rounded {
  background-color: #f4c552;
}

main .carreer .pink .material-symbols-rounded {
  background-color: #fdc0d2;
}

main article p {
  line-height: 20px;
  margin: 5% 3%;
}

h1,
h2 {
  font-weight: 100;
}

main .banner {
  width: 100%;
  height: 140px;
  border: solid 2px black;
  border-radius: 4px;
  box-shadow: var(--box-shadow-publication);
  background-image: url("https://www.royanatlantique.fr/app/uploads/2022/09/coucher-soleil-saint-palais-sur-mera-t.avan.jpg");
  background-position: center center;
  background-size: cover;
}

main .banner .picture {
  border-radius: 50%;
  border: solid 2px black;
  width: 130px;
  height: 130px;
  position: relative;
  top: 75px;
  left: 15px;
  z-index: 9;
  background-image: url("https://randomuser.me/api/portraits/women/95.jpg");
  background-position: center center;
  background-size: cover;
}

main .information h2 {
  padding-top: 75px;
}

main .information .biographie {
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 1.3fr 1fr 1.3fr 1fr;
  text-align: start;
  width: 100%;
}

main .information .biographie .subject {
  font-weight: 600;
}

main article h2 {
  padding-top: 20px;
  margin-bottom: 40px;
}

main div h2 {
  padding-bottom: 40px;
}
main h1,
main h2 {
  font-family: var(--font-title);
  font-size: medium;
}

@media screen and (min-width: 421px) {
  main .information {
    padding: 0 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .information .biographie {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-column-gap: 35px;
  }

  main .information h2 {
    padding-top: 75px;
  }
}

/* DESKTOP PAGE SPECIFICATION */

/* .main .main-profil {
} */

.profil-widget {
  display: none !important;
}

.event-widget {
  height: min-content;
  grid-row: 2 / 4 !important;
  grid-column: 2 / 3 !important;
}
