:root {
/*---------------------- Couleurs ----------------*/
--background-white : #FCF4E7;
--pink-light : #FDC0D2;
--blue-light : #9FBFFF;
--green-light : #83B0B8;
--yellow : #F4C552;
--gray-light  : #E5E5E5;
--gray-dark  : #393C38;  /*(drop shadow et border)*/
/*------------------- margin padding -------------------*/
/*--padding-button: ;
--margin-button: ;
--border-radius: ;*/
/*-------------------- font ---------------------*/
/*---------------- shadow et box ---------------*/
--box-shadow-publication: 3px 3px 0px 0px #393C38;
/*---------------------- Button ---------------*/
    --border-radius: 50%;
    --height: 40px;
    --width: 40px;
    --margin-top: 33%;
    --background-color: #fff;
}
